<div class="row comment-box">
  <div class="input-group">
    <div class="input-group-prepend name">
      <span class="input-group-text">FullName</span>
    </div>
    <input type="text" aria-label="First name" class="form-control nameInput" #nameInputField>
    <input type="text" aria-label="Last name" class="form-control" #familyInputField>
    <div class="input-group">
      <textarea class="form-control write" aria-label="With textarea" #familyInputField></textarea>
    </div>
    <button class="btn btn-primary sub" #submitButton>Submit</button>
  </div>
</div>

