.comment-box {
  display: flex;
  justify-content: center;
  width: 800px;
}

.write {
  height: 100px;
}

.name {
  margin-bottom: 15px;
}

.sub {
  margin-top: 15px;
}
.input-group-text{
  margin-right: 10px;
  border-radius: 4px!important;
}
.nameInput{
  margin-right: 10px;
}
.form-control{
  border-radius: 4px!important;
}
.clear{
  clear: both;
}
.parent{
  margin-top: 20px;
}
.child{
  margin-top: 20px;
}
.comment-card{
  width: 800px;
  background-color: black;
}
.under{
  border-color: white;
}
.card-body{
  color: rgb(130, 130, 130);
}
